{% extends 'Plantilla_base.html' %}
{% block title %}Acerca de Mí{% endblock %}
{% block header %}Acerca de Mí{% endblock %}
{% block contenido %}
        <div class="container bg-warning rounded-4 p-4 mb-4">
            <h2 class="text-success fw-bold">Mis Gustos</h2>
            <p class="text-dark"> Me gusta mucho programar y crear cosas con código. También disfruto jugar videojuegos
                en mi tiempo libre, explorando diferentes mundos y retos que me divierten y me ayudan a mejorar mis
                habilidades. </p>
        </div> > <div class="container bg-info rounded-4 p-4 mb-4">
            <h2 class="text-primary fw-bold">Mis Aspiraciones</h2>
            <p class="text-dark"> Mi meta es terminar una licenciatura, aunque aún no he decidido exactamente cuál.
                Quiero aprender y crecer en el ámbito profesional para tener un futuro lleno de oportunidades. </p>
        </div>
        <div class="container bg-success rounded-4 p-4 mb-4">
            <h2 class="text-warning fw-bold">Sobre Mí</h2>
            <p class="text-light"> Soy de Durango y me considero una persona curiosa y con ganas de aprender siempre
                cosas nuevas. Disfruto del tiempo que paso desarrollando mis habilidades y explorando mis pasiones. </p>
        </div>
        <div class="container text-center bg-dark rounded-4 p-4 mb-4">
            <h2 class="text-warning fw-bold">Nombre Completo</h2>
            <p class="text-light fw-semibold">Renteria Ramirez Ramon Eduardo</p>
        </div>
{% endblock %}