<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="Container text-center text-primary mt-5">
        <h1>Desarrollo De Plantilla Base</h1>
    </div>
    <main class="container mt-5">

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#">Features</a>
                        <a class="nav-link" href="#">Pricing</a>
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container text-center mt-5">
            <h2>Animales Exoticos</h2>
            <p>Los animales exóticos son aquellos que no son nativos de una región específica y que a menudo se
                mantienen como mascotas o se encuentran en zoológicos y reservas naturales. Estos animales pueden
                incluir una amplia variedad de especies, desde reptiles y aves hasta mamíferos y anfibios. La
                popularidad de los animales exóticos como mascotas ha aumentado en los últimos años, pero es importante
                recordar que su cuidado requiere conocimientos especializados y un compromiso significativo para
                garantizar su bienestar.</p>
        </div>
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h3>Slow loris o loris perezoso (Nycticebus)</h3>
                    <p>El slow loris (Nycticebus) es un primate de Asia conocido por su lentitud y excentricidad. Su
                        historia evolutiva es incierta debido a la falta de fósiles. Carece de protección natural contra
                        depredadores, por lo que ha desarrollado una glándula en las axilas que secreta veneno, el cual
                        utiliza para defenderse al lamerlo y morder a sus atacantes.
                        Este animal está en peligro de extinción, principalmente debido a la desforestación y el
                        comercio ilegal. A pesar de estar protegido por leyes internacionales como el CITES y la IUCN,
                        sigue siendo traficado, especialmente en Asia. La captura y venta de estos animales como
                        mascotas es ilegal y cruel, pues separar a las crías de sus madres suele resultar en la muerte
                        de la progenitora. Algunos traficantes también les arrancan los dientes para hacerlos "seguros"
                        para las personas.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="/img/loris perezoso.webp" alt="Slow loris o loris perezoso" class="img-fluid rounded">
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h3>Pato mandarín (Aix galericulata)</h3>
                    <p>Continuamos la lista de animales más exóticos del mundo con el pato mandarín. Procede de China,
                        Japón y Rusia
                        hasta que fue introducido en Europa. El pato mandarín es una raza apreciada por su enorme
                        belleza. El macho
                        posee una variedad de colores increíbles como el verde, fucsia, azul, marrón, crema y naranja.
                        Por su
                        colorido se convierte en uno de los animales más exóticos del mundo. Suele habitar en zonas
                        próximas a
                        lagos, charcas o lagunas. Se consideran portadores de buena fortuna en toda Asia, así como de
                        afecto y amor
                        conyugal. Se llega a ofrecer como regalo principal en bodas muy importantes. resumelo</p>
                    <div class="col-md-6 text-center">
                        <img src="/img/pato_mandarin_aix_galericulata_3774_1_600.webp"
                            alt="Pato mandarín (Aix galericulata)">
                    </div>
                </div>
            </div>
        </div>
        
        


    </main>















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>